pages:
  stage: deploy
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
    - rm -rf public
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - main
